<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springmvc.mapper.RoleMapper">
	<select id="getRole" parameterType="long" resultType="role">
		SELECT id, role_name as roleName, note FROM t_role WHERE id = #{id}
	</select>
	<insert id="insertRole" parameterType="role">
		INSERT INTO t_role (role_name, note) VALUES(#{role_name}, #{note})
	</insert>
</mapper>